@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
.qoute{
    font-family: 'Merriweather', serif;
    font-size: 100px;
    color: white;
    text-align: center;
}
body {
    background-color: pink;
    color: black;
    max-width: 400;
  }
  
ol
{
    
    color: black;
    text-align: center;
    list-style-position: inside;
  }
  
.tittle {
    background-color: rgb(255, 15, 15);
    color: white;
    text-align: center;
    }
img{
        margin: 0 auto;
        
    }
h1{
  text-align: center;
}
p{
  text-align: center;
}
div{
  text-align: center;
}